spring.application.name=ProductService
server.port=<PORT_NO>
#MySQL Dependencies
spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=<DB_URL>/productservice
spring.datasource.username=<DB_USERNAME>
spring.datasource.password=<DB_PASSWORD>
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.show-sql= true
spring.jpa.properties.hibernate.format_sql=true
#flyaway properties
#spring.flyway.baseline-on-migrate=true

#redis caching props
spring.cache.type=redis
spring.cache.host=
spring.cache.port=6379